application:
  files-path: ${LOCAL_STORAGE_PATH}

  yandex-storage-config:
    bucket-name: ${BUCKET_NAME}
    access-key-id: ${ACCESS_KEY_ID}
    secret-access-key: ${SECRET_KEY}

spring:
  application:
    name: storage-service

server:
  port: 0
